
<section class="about">
  <div class="close default-transition"><i class="fas fa-times"></i></div>
  <div class="photo-holder" style="background-color: #8BC34A;">
    <div class="photo-holder__photo"></div>
  </div>
  <div class="info-holder">
    <div class="heading"><span class="colored">Hi! </span><span class="default">My name is </span><span class="colored">Vadim!</span></div>
    <div class="info-holder__description">I'm 19 years old Junior Front-End Developer. Passionate about all the electronics and new computer or mobile technologies I'm trying to master web-development. I love to create fast and reach interractive web pages and user interfaces, so that's why I actively learn Javascript and its frameworks or libraries. If I am not working or studying you can easily find me playing video games, watching movies and serials or listening to music. Also I like playing soccer. For now I'm open for job offers, so if you want to make one go ahead and contact me on social networks or write me an email :)</div>
    <div class="links"><a class="links__facebook" href="https://www.facebook.com/vadim.orlov.773">
        <div class="icon-holder colored default-transition" style="color: rgb(137, 185, 45);"><i class="fab fa-facebook-square"></i></div>
        <p>Facebook</p></a><a class="links__github" href="https://github.com/1ucius">
        <div class="icon-holder colored default-transition" style="color: rgb(137, 185, 45);"><i class="fab fa-github"></i></div>
        <p>GitHub</p></a><a class="links__linkedin" href="https://www.linkedin.com/in/vadimorlov/">
        <div class="icon-holder colored default-transition" style="color: rgb(137, 185, 45);"><i class="fab fa-linkedin"></i></div>
        <p>LinkedIn</p></a><a class="links__gmail" href="mailto:vadim.orlov.workmail@gmail.com">
        <div class="icon-holder colored default-transition" style="color: rgb(137, 185, 45);"><i class="fas fa-envelope"></i></div>
        <p>GMail </p></a></div>
  </div>
</section>