
<header class="header">
  <div class="menu">
    <div class="burger default-transition" id="burger">
      <div class="click-area" id="click-area"></div><span class="burger__item default-transition"></span>
    </div>
    <ul class="menu__list" id="list">
      <li class="menu__item menu__item_active"><a class="default-transition" href="https://1ucius.github.io/my-portfolio/">Home</a></li>
      <li class="menu__item"><a class="default-transition" href="https://1ucius.github.io/preloader-with-circular-progress-bar/">Preloader DEMO</a></li>
      <li class="menu__item"><a class="default-transition" href="https://1ucius.github.io/circular-slider/">Circular Slider DEMO</a></li>
      <li class="menu__item"><a class="default-transition" href="https://1ucius.github.io/timer/">Timer DEMO</a></li>
      <li class="menu__item"><a class="default-transition" href="https://1ucius.github.io/timer/">Filterable List DEMO</a></li>
      <li class="menu__item"><a class="default-transition" href="https://github.com/1ucius/my-portfolio">Page Source Code</a></li>
      <li class="menu__item"><a class="about-me-link default-transition" style="cursor: pointer;">About Me</a></li>
    </ul>
  </div><a class="logo-holder" href="#"><span class="shown-on-narrow-screens">VO</span><span class="shown-on-wide-screens">VADIM ORLOV</span><span> | </span><span>Projects</span></a>
</header>