
<section class="section-slider"><a class="button-about parallax" id="button-about">About Me</a>
  <div class="button-godown button-border-anim parallax" id="button-godown"> 
    <div class="button-godown__arrow default-transition"></div>
  </div>
  <div class="navigation parallax">
    <div class="navigation-item navigation-item_active"><a class="navigation-item__link" href="#slide0">
        <div class="navigation-item__dot"></div>
        <div class="navigation-item__heading">Preloader</div></a></div>
    <div class="navigation-item"><a class="navigation-item__link" href="#slide1">
        <div class="navigation-item__dot"></div>
        <div class="navigation-item__heading">Slider</div></a></div>
    <div class="navigation-item"><a class="navigation-item__link" href="#slide2">
        <div class="navigation-item__dot"></div>
        <div class="navigation-item__heading">Timer</div></a></div>
    <div class="navigation-item"><a class="navigation-item__link" href="#slide3">
        <div class="navigation-item__dot"></div>
        <div class="navigation-item__heading">Filterable list</div></a></div>
    <div class="navigation-item"><a class="navigation-item__link" href="#slide4">
        <div class="navigation-item__dot"></div>
        <div class="navigation-item__heading">Also this page</div></a></div>
  </div>
  <div class="slider" id="slider">
    <div class="filter default-transition"></div>
    <div class="wrapper" id="wrapper" style="top: 0vh;">
      <div class="slide slide_active" name="slide0">
        <div class="slide__images-column" style="background-color: #161618;">
          <div class="background" style="background-image: url('img/preloader-preview.png');"></div>
        </div>
        <div class="slide__content-column default-transition" style="background-color: rgb(137, 185, 45);" data-color="rgb(137, 185, 45)">
          <div class="slide__content parallax">
            <h6 class="subheading default-transition">UX | Front-End</h6>
            <h1 class="heading default-transition"> <span class="default-transition">W</span><span class="default-transition">e</span><span class="default-transition">b</span><span class="default-transition">s</span><span class="default-transition">i</span><span class="default-transition">t</span><span class="default-transition">e</span><span class="space default-transition"> </span><span class="default-transition">P</span><span class="default-transition">r</span><span class="default-transition">e</span><span class="default-transition">l</span><span class="default-transition">o</span><span class="default-transition">a</span><span class="default-transition">d</span><span class="default-transition">e</span><span class="default-transition">r </span></h1>
            <p class="description default-transition">Customizable preloader with circular progress bar developed using vanilla JS(ES6).</p><a class="more-button button-border-anim default-transition" href="https://1ucius.github.io/preloader-with-circular-progress-bar/">Demo</a><a class="more-button button-border-anim default-transition" href="https://github.com/1ucius/preloader-with-circular-progress-bar">Code</a>
          </div>
        </div>
      </div>
      <div class="slide" name="slide1">
        <div class="slide__images-column">
          <div class="background" style="background-image: url('img/slider-preview.png');"></div>
        </div>
        <div class="slide__content-column default-transition" style="background-color: #e67e22;" data-color="#e67e22">
          <div class="slide__content parallax">
            <h6 class="subheading default-transition">UX | Front-End</h6>
            <h1 class="heading default-transition"><span class="default-transition">C</span><span class="default-transition">i</span><span class="default-transition">r</span><span class="default-transition">c</span><span class="default-transition">u</span><span class="default-transition">l</span><span class="default-transition">a</span><span class="default-transition">r</span><span class="space default-transition"> </span><span class="default-transition">S</span><span class="default-transition">l</span><span class="default-transition">i</span><span class="default-transition">d</span><span class="default-transition">e</span><span class="default-transition">r</span></h1>
            <p class="description default-transition">Circular slider developed using vanilla JS(ES6). You can add multiple sliders on the same page.</p><a class="more-button button-border-anim default-transition" href="https://1ucius.github.io/circular-slider/">Demo</a><a class="more-button button-border-anim default-transition" href="https://github.com/1ucius/circular-slider">Code</a>
          </div>
        </div>
      </div>
      <div class="slide" name="slide2">
        <div class="slide__images-column">
          <div class="background" style="background-image: url('img/timer-preview.png');"></div>
        </div>
        <div class="slide__content-column default-transition" style="background-color: rgb(182, 35, 35);" data-color="rgb(182, 35, 35)">
          <div class="slide__content parallax">
            <h6 class="subheading default-transition">UX | Front-End</h6>
            <h1 class="heading default-transition"><span class="default-transition">T</span><span class="default-transition">i</span><span class="default-transition">m</span><span class="default-transition">e</span><span class="default-transition">r</span></h1>
            <p class="description default-transition">Simple timer. You can add multiple timers on the same page.</p><a class="more-button button-border-anim default-transition" href="https://1ucius.github.io/timer/">Demo</a><a class="more-button button-border-anim default-transition" href="https://github.com/1ucius/timer">Code</a>
          </div>
        </div>
      </div>
      <div class="slide" name="slide3">
        <div class="slide__images-column">
          <div class="background" style="background-image: url('img/list-preview.png');"></div>
        </div>
        <div class="slide__content-column default-transition" style="background-color: rgb(17, 95, 154);" data-color="rgb(17, 95, 154)">
          <div class="slide__content parallax">
            <h6 class="subheading default-transition">UX | Front-End</h6>
            <h1 class="heading default-transition"><span class="default-transition">F</span><span class="default-transition">i</span><span class="default-transition">l</span><span class="default-transition">t</span><span class="default-transition">e</span><span class="default-transition">r</span><span class="default-transition">a</span><span class="default-transition">b</span><span class="default-transition">l</span><span class="default-transition">e</span><span class="space default-transition"> </span><span class="default-transition">L</span><span class="default-transition">i</span><span class="default-transition">s</span><span class="default-transition">t</span></h1>
            <p class="description default-transition">Filterable list developed using vanilla JS and materialize.css</p><a class="more-button button-border-anim default-transition" href="https://1ucius.github.io/filterable-list/">Demo</a><a class="more-button button-border-anim default-transition" href="https://github.com/1ucius/filterable-list">Code</a>
          </div>
        </div>
      </div>
      <div class="slide" name="slide4">
        <div class="slide__images-column" style="background-color: #2a2a2a;">
          <div class="background" style="background-image: url('img/page-preview.png');"></div>
        </div>
        <div class="slide__content-column default-transition" style="background-color: #3F51B5;" data-color="#3F51B5">
          <div class="slide__content parallax">
            <h6 class="subheading default-transition">UX | Front-End</h6>
            <h1 class="heading default-transition"> <span class="default-transition">A</span><span class="default-transition">l</span><span class="default-transition">s</span><span class="default-transition">o</span><span class="space default-transition"></span><span class="default-transition">t</span><span class="default-transition">h</span><span class="default-transition">i</span><span class="default-transition">s</span><span class="space default-transition"></span><span class="default-transition">p</span><span class="default-transition">a</span><span class="default-transition">g</span><span class="default-transition">e</span><span class="default-transition">,</span><span class="space default-transition"></span><span class="default-transition">t</span><span class="default-transition">o</span><span class="default-transition">o</span><span class="default-transition">:</span><span class="default-transition">)</span></h1>
            <p class="description default-transition"></p><a class="more-button button-border-anim default-transition" href="https://github.com/1ucius/my-portfolio">Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>