section.about
    .close.default-transition
        <i class="fas fa-times"></i>
    .photo-holder(style="background-color: #8BC34A;")
        .photo-holder__photo
    .info-holder
        .heading
            span.colored Hi! 
            span.default My name is 
            span.colored Vadim!
        .info-holder__description I'm 19 years old Junior Front-End Developer. Passionate about all the electronics and new computer or mobile technologies I'm trying to master web-development. I love to create fast and reach interractive web pages and user interfaces, so that's why I actively learn Javascript and its frameworks or libraries. If I am not working or studying you can easily find me playing video games, watching movies and serials or listening to music. Also I like playing soccer. For now I'm open for job offers, so if you want to make one go ahead and contact me on social networks or write me an email :)
        .links
            a(href="https://www.facebook.com/vadim.orlov.773").links__facebook
                .icon-holder.colored.default-transition(style="color: rgb(137, 185, 45);")
                    <i class="fab fa-facebook-square"></i>
                p Facebook
            a(href="https://github.com/1ucius").links__github
                .icon-holder.colored.default-transition(style="color: rgb(137, 185, 45);")
                    <i class="fab fa-github"></i>
                p GitHub
            a(href="https://www.linkedin.com/in/vadimorlov/").links__linkedin
                .icon-holder.colored.default-transition(style="color: rgb(137, 185, 45);")
                    <i class="fab fa-linkedin"></i>
                p LinkedIn
            a(href="mailto:vadim.orlov.workmail@gmail.com").links__gmail
                .icon-holder.colored.default-transition(style="color: rgb(137, 185, 45);")
                    <i class="fas fa-envelope"></i>
                p GMail 