header.header
    .menu
        .burger.default-transition#burger
            .click-area#click-area
            span.burger__item.default-transition
        ul.menu__list#list
            li.menu__item.menu__item_active
                a(href="https://1ucius.github.io/my-portfolio/").default-transition Home
            li.menu__item
                a(href="https://1ucius.github.io/preloader-with-circular-progress-bar/").default-transition Preloader DEMO
            li.menu__item
                a(href="https://1ucius.github.io/circular-slider/").default-transition Circular Slider DEMO
            li.menu__item
                a(href="https://1ucius.github.io/timer/").default-transition Timer DEMO
            li.menu__item
                a(href="https://1ucius.github.io/timer/").default-transition Filterable List DEMO
            li.menu__item
                a(href="https://github.com/1ucius/my-portfolio").default-transition Page Source Code
            li.menu__item
                a(style="cursor: pointer;").about-me-link.default-transition About Me
    a(href="#").logo-holder
        span.shown-on-narrow-screens VO
        span.shown-on-wide-screens VADIM ORLOV
        span  | 
        span Projects